body
{
    background-color: #1E1F23;
    min-width: 30%;
}

#content
{
    position: absolute;
    width:100% - 20px;
    height:100% - 20px;
    top:20px;
    left:20px;
    bottom:20px;
    right:20px;
    overflow: hidden;

}

.card.mdl-card {
                    width: 100%;
                    height: 100%;
                  }

.commentcard.mdl-card {
                    width: 100%;
                    height: 100%;
                    overflow-y: scroll;
                  }

.aboutcard.mdl-card {
                    top:5%;
                    bottom: 5%;
                    left:5%;
                    right:5%;
                    width: 90%;
                    height: 90%;
                    overflow: auto;
                  }

p.aboutcard.mdl-card{
    left:20px;
}
                  
.card > .mdl-card__menu {
                    color: #1E1F23;
                  }

#content-video
{
    position: absolute;
    top:15%;
    width:49.5%;
    height:65%;
    background-color: #1E1F23;
}

#content-page
{
    position: absolute;
    top:15%;
    width:49.5%;
    height:65%;
    right:0px;
    text-align: center;
    background-color: #1E1F23;
    color: #EBEBEB;
}

#video-title
{
    position: absolute;
    top : 5%;
    width:49.5%;
    height:10%;
    overflow: hidden;
    color: white;
    font-size: 24px;
}

#doc-title
{
    position: absolute;
    top: 5%;
    width:49.5%;
    height:10%;
    right:0px;
    overflow: hidden;
    color:white;
    font-size: 24px;
    text-align: right;
}

#sound_video_params
{
    position: absolute;
    width:400px;
    height:80px;
    overflow: hidden;
    color: white;
    background-color: #424242;
}

#sound_params
{
    position: absolute;
    width:100%;
    top : 10px;
    height:34px;
    overflow: hidden;
    color: white;
    background-color: #424242;
}

#sound_params_text
{
    position: absolute;
    width:40%;
    left :20px;
    top:10%;
    height:80%;
    overflow: hidden;
    color: white;
    background-color: #424242;
}

#sound_params_combo
{
    position: absolute;
    width:50%;
    right: 10px;
    top:10%;
    height:80%;
    overflow: hidden;
    color: white;
    background-color: #424242;
}

#video_params
{
    position: absolute;
    width:100%;
    top : 44px;
    height:34px;
    overflow: hidden;
    color: white;
    background-color: #424242;
}

#video_params_text
{
    position: absolute;
    width:40%;
    left :20px;
    top:10%;
    height:80%;
    overflow: hidden;
    color: white;
    background-color: #424242;
}

#video_params_combo
{
    position: absolute;
    width:50%;
    right: 10px;
    top:10%;
    height:80%;
    overflow: hidden;
    color: white;
    background-color: #424242;
}

#content-commentview
{
    position: absolute;
    width:100%;
    height:30%;
    bottom:60px;
    top:62%;
}

#logo
{
    position: absolute;
    width : 100%;
    height : 80px;
    text-align: right;
    bottom : 0px;
    background-color: #1E1F23;
}

footer
{
    background-color: #424242;
    width:100%;
    height:80px;
    color : white;
}

#footer-content
{
    position: absolute;
    margin-top: 22.7px;
    width: 30%;
    height: 38px;
    left: 35%;
    background-color: #424242;
    overflow: hidden;
    text-align: center;
}

#footer-content-left
{
    position: absolute;
    width: 100px;
    height : 100px;
    left : 0px;
    top : -10px;
    text-align: left;
}

#footer-content-right
{
    position: absolute;
    width: 100px;
    height : 100px;
    top : -10px;
    right : 0px;
    text-align: right;
}

#footer-content-slider {
    position: absolute;
    width: 80%;
    height : 12px;
    left : 10%;
}

.demo-list-action {
                  width: 100%;
                  height: 100%;
                }

#content-comment-text
{
    position: absolute;
    width:89%;
    height:50px;
    left:1px;
    bottom:0px;
    background: #1E1F23;
}

form{
    background-color: #1E1F23;
}

#content-comment-button
{
    position: absolute;
    width:150px;
    height:50px;
    right:1px;
    bottom:0px;
    z-index: 1;
}

#content-comment-button-centering
{
    margin-top:7px;
}

.button-color-rewrite
{
    background-color: #424242;
    color:white;
    border: 2px;
    border-color: white;
    border-style: solid;
}

#content-about
{
    position: absolute;
    width:100% - 20px;
    height:100% - 20px;
    top:20px;
    left:20px;
    bottom:20px;
    right:20px;
    background-color: #1E1F23;
}

#content-about-text
{
    position: absolute;
    width:100% - 20px;
    height:100% - 20px;
    top:20px;
    left:20px;
    bottom:20px;
    right:20px;
    background-color: #1E1F23;
}

#menu-copyright
{
    position: absolute;
    bottom:1px;
    left:20px;
    width:180px;
    height:130px;
    font-size: 12px;
    color:gray;
    overflow: hidden;
}