body
{
    background-color: #1E1F23;
}

#content
{
    position: absolute;
    width:100% - 20px;
    height:100% - 20px;
    top:20px;
    left:20px;
    bottom:20px;
    right:20px;
    overflow: hidden;

}

.slider-color {
    color:white;
}

.card.mdl-card {
                    width: 100%;
                    height: 100%;
                  }

.commentcard.mdl-card {
                    width: 100%;
                    height: 100%;
                    overflow-y: scroll;
                  }

.aboutcard.mdl-card {
                    top:5%;
                    bottom: 5%;
                    left:5%;
                    right:5%;
                    width: 90%;
                    height: 90%;
                    overflow: auto;
                  }

p.aboutcard.mdl-card{
    left:20px;
}
                  
.card > .mdl-card__menu {
                    color: #fff;
                  }

#content-video
{
    position: absolute;
    top:15%;
    width:49.5%;
    height:57%;
}

#content-page
{
    position: absolute;
    top:15%;
    width:49.5%;
    height:58%;
    right:0px;
    text-align: center;
    color: #EBEBEB;
}

#video-title
{
    position: absolute;
    top : 5%;
    width:49.5%;
    height:10%;
    overflow: hidden;
    color: white;
    font-size: 24px;
}

#doc-title
{
    position: absolute;
    top: 5%;
    width:49.5%;
    height:10%;
    right:0px;
    overflow: hidden;
    color:white;
    font-size: 24px;
    text-align: right;
}

#content-commentview
{
    position: absolute;
    width:100%;
    height:30%;
    bottom:60px;
    top:62%;
}

footer
{
    background-color: #424242;
    width:100%;
    height:80px;
    color : white;
}

#footer-content
{
    position: absolute;
    margin-top: 22.7px;
    width: 30%;
    height: 38px;
    left: 35%;
    background-color: #424242;
    overflow: hidden;
    text-align: center;
}

.demo-list-action {
                  width: 100%;
                  height: 100%;
                }

#content-comment-text
{
    position: absolute;
    width:89%;
    height:50px;
    left:1px;
    bottom:0px;
    background: #EBEBEB;
}

form{
    background-color: #EBEBEB;
}

#content-comment-button
{
    position: absolute;
    width:150px;
    height:50px;
    right:1px;
    bottom:0px;
    z-index: 1;
}

#content-comment-button-centering
{
    margin-top:7px;
}

.button-color-rewrite
{
    background-color: #424242;
    color:white;
    border: 2px;
    border-color: white;
    border-style: solid;
}

#content-about
{
    position: absolute;
    width:100% - 20px;
    height:100% - 20px;
    top:20px;
    left:20px;
    bottom:20px;
    right:20px;
}

#content-about-text
{
    position: absolute;
    width:100% - 20px;
    height:100% - 20px;
    top:20px;
    left:20px;
    bottom:20px;
    right:20px;
    background-color: #0024AB;
}

#menu-copyright
{
    position: absolute;
    bottom:1px;
    left:20px;
    width:180px;
    height:130px;
    font-size: 12px;
    color:gray;
    overflow: hidden;
}